<style>
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>

<h1><b style="font-size: 30px;"><i>Contact Support</i></b></h1>
<p style="font-size: 20px;">
  <b><i>Here is a request for assistance from {{name}}</i></b> <br>
  <b>Summary:</b> 
  <br>
  <i>{{summary}}</i>
  <br>
  <b>Details : </b> 
  <br>
  <i>{{details}}</i>
  <br>
  <b>Link : </b><i>{{link}}</i>
  <br>
  <img src="cid:{{img}}" alt="Image">
  
  <br>
  <b>You can contact {{name}} with the following email address :</b> <i>{{email}}</i>
</p>
<div style="display: flex; align-items: center;">
  <img src="cid:image_cid" alt="Logo" style="width: 100px;" />
  <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;">
    <h1 style="font-size: 24px;"><i>MasterBook <br> est. 2023</i></h1>
  </div>
</div>
